@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles can go here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @apply bg-gray-900; /* Use Tailwind's utility classes */
}